.booking {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: 2;
}

.booking-elements {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.leaf {
    position: relative;
    z-index: 1;
    width: 25rem;
    bottom: 10rem;
}

.th-logo {
    position: absolute;
    z-index: 1;
    width: 45rem;
    bottom: 8rem;
    right: -25rem;
    rotate: 220deg;
    align-items: flex-end;
    overflow: hidden;
}

.booking-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.booking-logo {
    position: relative;
    width: 300px;
    height: 150px;
    margin-bottom: 7rem;
}

.monsoon-logo {
    position: relative;
    width: 80%;
    margin-top: -180px;
}

.package-days {
    position: relative;
    font-size: 28px;
    margin-top: -80px;
    color: white;
    font-family: 'Gilroy-Light';
}

.package-price {
    position: relative;
    font-size: 72px;
    color: white;
    font-family: 'Gilroy-Bold';
}

.book-now {
    position: relative;
    letter-spacing: 2px;
    font-size: 24px;
    font-family: 'Gilroy-Bold';
    padding: 12px 36px;
    background: transparent;
    border: 1px solid var(--prime-yellow);
    color: #fff;
    border-radius: 34px;
    margin-top: 1rem;
}

.book-now:hover {
    background: var(--prime-yellow);
    color: #062621;
}

/* Small devices (portrait tablets and large phones, 600px and up to medium devices) */
@media only screen and (min-width: 600px) and (max-width: 768px) {

    .leaf {
        width: 22rem;
        bottom: 10rem;
    }


    .th-logo {
        right: -28rem;
        bottom: 5rem;
    }

    .booking-logo {
        position: relative;
        width: 300px;
        height: 150px;
        margin-bottom: 10rem;
    }

    .monsoon-logo {
        position: relative;
        width: 80%;
        margin-bottom: 4rem;
    }

    .package-price {
        font-size: 62px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .booking {
        height: 22rem;
    }


    .leaf {
        width: 10rem;
        bottom: 4rem;
    }

    .th-logo{
        height: 16rem;
        width: 20rem;
        bottom: 3rem;
        right: -12rem;
        rotate: 212deg;
    }

    .booking-container {
        top: 65%;
    }

    .booking-logo {
        width: 150px;
        height: 75px;
        margin-bottom: 0rem;
    }

    .monsoon-logo {
        margin: 0;
    }

    .package-days {
        font-size: 20px;
        margin-top: -15px;
    }

    .package-price {
        font-size: 38px;
        margin-top: 20px;
        letter-spacing: 2px;
    }

    .book-now {
        padding: 10px 30px;
        font-size: 18px;
        letter-spacing: 1px;
    }
}
