.footer {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.branches {
    position: relative;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-description {
    position: relative;
    top: 0;
    left: 0;
    background-color: #062621;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.footer-description p {
    color: white;
    font-family: 'Gilroy-Light';
}

.footer-title {
    letter-spacing: 2px;
    font-size: 40px;
    padding: 8px 24px;
    border: 2px solid var(--prime-green);
    background-color: var(--prime-green);
    border-radius: 14px;
    color: var(--prime-yellow);
    font-family: 'Gilroy-Bold';
}

.footer-tagline {
    position: relative;
    font-size: 28px;
    padding-top: 10px;
}

.contact-us {
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 0 30px 0;
}

.details {
    display: flex;
    align-items: left;
    justify-content: center;
    margin: 10px;
}

.details img {
    width: 30px;
    height: 30px;
    align-self: center;
    padding-right: 10px;
    border-right: 2px solid white;
}

.details p {
    text-align: left;
    margin: 10px;
    line-height: 1.1rem;
    /* padding-left: 10px;
    border-left: 2px solid white; */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Medium devices (landscape tablets, 768px and up to large devices) */
@media only screen and (min-width: 768px) and (max-width: 992px) {}

/* Small devices (portrait tablets and large phones, 600px and up to medium devices) */
@media only screen and (min-width: 600px) and (max-width: 768px) {

    .footer-title {
        font-size: 36px;
    }

    .footer-tagline {
        font-size: 24px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .footer-title {
        letter-spacing: 1px;
        font-size: 22px;
        padding: 8px 20px;
        border-radius: 10px
    }

    .footer-tagline {
        font-size: 16px;
    }

    .contact-us {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 0 20px 0;
    }

    .details {
        flex: 1 1;
        align-items: center;
        padding: 0 30px;
        margin: 0 10px;
    }

    .details img {
        width: 24px;
        height: 24px;
        
    }

    .details p {
        text-align: left;
        font-size: 13px;
    }

    br {
        display: none;
    }
}