/* Importing Gilroy-Bold font */
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../public/fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('../public/fonts/Gilroy-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../public/fonts/Gilroy-SemiBold.ttf') format('truetype');
}

.prevent-select {
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  -webkit-user-drag: none;
}


* {
  margin: 0;
  /* border: 2px solid red; */
}

:root {
  --prime-green: #053c36;
  --prime-yellow: #dcb36a;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #053c36;

}

img {
  max-width: 100%;
  -webkit-user-drag: none;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-family: 'Gilroy-Light';
  color: white;
}

.scroll-line {
  height: 4px;
  background: var(--prime-yellow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: 0 50%;
  animation: scaleProgress auto linear;
  animation-timeline: scroll(root);
  z-index: 5;
}

@keyframes scaleProgress {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}


.module {
  position: relative;
  /* padding: 0; */
  /* padding-bottom: 100px; */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  z-index: 1;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--prime-green);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid var(--prime-yellow);
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
  }

  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
  }

  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
  }
}

@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg)
  }

  49.99% {
    transform: scaleY(1) rotate(135deg)
  }

  50% {
    transform: scaleY(-1) rotate(0deg)
  }

  100% {
    transform: scaleY(-1) rotate(-135deg)
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .scroll-line {
    width: 2px;
    height: 100%;
    background: var(--prime-yellow);
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    transform-origin: 50% 0;
    animation: scaleProgress auto linear;
    animation-timeline: scroll(root);
    z-index: 5;
  }

  @keyframes scaleProgress {
    0% {
      transform: scaleY(0);
    }

    100% {
      transform: scaleY(1);
    }
  }
}